#app{
    .search-box{
    input{
        height: 1.8em;
        line-height:  1.8em;
        background-size: 1em;
        background-position-y: .5em
    }
   
}}
.nav-links a:hover, .nav-links a.router-link-active{
     border-bottom: none!important;
        color:$accentColor!important;
}
 .custom-block.tip{
        border-color:$accentColor
}