.ediotr-container {
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .al-c{
    align-items: center;
  }
  position:relative;
  .doc-dir {
    position: fixed;
  }

  .w-20{
    width: 20px;
  }
  .h-20{
     height: 20px;
  }
  .border-20{
    border-radius: 20px;
  }
  .bg-primary{
    background-color: rgba(#000,0.1);
  }
  .head-box{
    font-size: 14px;
    color:darkgreen;
    margin-top: .2em;
     opacity: .4;
    cursor: pointer;
    .head {
      width: 1em;
      height: 1em;
      border-radius: 2px;
      display: inline-block;
      background-color: rgba(#000, 0.1);
      background-size: 100%;
    }

    .username {
      margin-left: .5em;
     
    }
  }
  
}
.collaboration-cursor__caret {
  position: relative;
  margin-left: -1px;
  margin-right: -1px;
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  word-break: normal;
  pointer-events: none;
}
.collaboration-cursor__label {
  position: absolute;
  z-index: 99;
  top: -1.4em;
  left: -1px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  user-select: none;
  color: #0d0d0d;
  padding: 0.1rem 0.3rem;
  border-radius: 3px 3px 3px 0;
  white-space: nowrap;
}
.editor__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.global-drag-handle {
  position: absolute;

  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1.25rem;
    content: '⠿';
    font-weight: 700;
    cursor: grab;
    background: #0D0D0D10;
    color: #0D0D0D50;
    border-radius: 0.25rem;
  }
}

// 1mm等于多少像素
$paper_size: 0.25rem;
// 公文用纸天头（上白边）为：37mm±1mm
// 公文用纸订口（左白边）为：28 mm±1mm
// 版心尺寸为：156 mm×225mm（不含页码）
.doc-a4 {
  max-width: 100%;
  margin: auto;
  // margin-top: .5rem;
  // width: 210 * $paper_size;
  // max-height: 297 * $paper_size;
  // max-height: calc(100vh - 200px);
  border:1px  solid #f1f1f1;
  box-sizing: border-box;
  // padding: 28 * $paper_size 25 * $paper_size;
  // padding: 1rem 2rem;
  padding: 0.2rem;
  background: #fff;
  overflow-y:auto
}
/* Basic editor styles */
.ProseMirror {
  font-size: 16px;
  color: #000;
  outline: none;

  >*+* {
    // margin-top: 0.75em;
  }

  .ProseMirror-selectednode {
    outline: 3px solid rgba(#4741b8, 0.1);
    border-radius: 1em;
  }

  readdisable {
    opacity: 0.1;
    // display: none;
  }

  writedisable {
    color: rgba(#000,0.5);
    cursor: not-allowed;
    writeable{
      color: #000;
      outline: none;
      text-decoration: underline;
    }
  }

  underline {
    text-decoration: underline;
  }

  ul[data-type="taskList"]>li {
    list-style: none;
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
  }

  ul[data-type="taskList"] {
    padding-left: 5px;
  }

  ul[data-type="taskList"] label {
    margin-right: 0.5em;
  }

  ul ol {
    padding: 0 1rem;
    padding-left: 25px;
  }

  ol {
    list-style-type: upper-roman;
  }

  ol li {
    list-style-type: decimal;
    list-style-position: outside;
    line-height: 1.8em;
  }

  ol li::marker {
    font-weight: bold;
  }

  ul li {
    list-style-type: disc !important;
  }

  ul li::marker {
    font-size: 1.2em;
  }

  li {
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .9em;
  }

  h6 {
    font-size: .7em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5em;
    margin: 0.5em 0;
    border: none;
  }

  code {
    padding: 1px 0.5em;
    background-color: #eaf3ff;
    color: #1677ff;
    border-color: #eaf3ff;
    margin: 0 0.5em;
  }

  ul {
    list-style-type: circle;
  }

  ul li {
    list-style-type: circle;
    line-height: 1.5em;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding: 1em;
    padding-left: 1em;
    margin-left: 0 !important;
    margin-inline-start: 1em;
    border-left: 2px solid rgba(#0095f2, 0.1);
    background-color: rgba(#0095f2, 0.03);
    color: rgba(#727272, 1);
  }

  hr {
    border: none;
    border-top: 1px solid rgba(#000, 0.1);
    margin: 1em 0;
  }
}

/* Table-specific styling */
.ProseMirror {
  p {
    line-height: 1.5em;
    margin: 0;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0.5em 0;
    overflow: scroll;

    td,
    th {
      min-width: 1em;
      border: 1px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      >* {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }
}

.tableWrapper {
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

